$white: #ffffff;
$grey: #d9d9cf;
$blue: #589ee4;
$red: #ee6051;
$black: #000000;
$primary-color: #262425;

$cb: cubic-bezier(0.86, 0, 0.07, 1);

$phones: 576px;
$tab-port: 768px;
$tab-land: 1024px;
$desktop: 1200px;